/*Easy copy paste just change lcd screen to lcdscreen2 and lcdscreen3 
for the three timers*/
#lcdScreen, #lcdScreen2, #lcdScreen3{
    border: 1px solid black;
    padding-right: 65px;
    padding-left: 3px;
}

#lcdScreen, #lcdScreen2, #lcdScreen3{
    background-color: white;
}

body{
    background-color: lightgreen;
}

.button {
    background-color:rgb(235, 179, 37);
    color: white;
    cursor: pointer;
}

.countUp{
    background-color: green;
}

.countDown{
    background-color: blue;
    color: cyan;
}

.Stop{
    background-color: red;
    color: yellow;
}